.advantages {
  padding: 0 0 120px;
}

.advantages__item {
  display: flex;
  margin: 0;
  margin-bottom: 144px;
  padding: 0 261px 0 263px;
  list-style: none;
}

.advantages__list {
  position: relative;
  width: 399px;

  &:nth-child(1) {
    margin-right: 91px;
  }

  &:nth-child(2) {
    margin-right: 84px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background: $bg-light;
    border: none;
    border-radius: 100%;
  }

  span {
    display: block;
    margin: 124px 0 34px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  p {
    margin: 0;
  }
}

.advantages__wrapper {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  padding: 152px 0 158px 40px;
  background: $bg-light;

  span {
    display: block;
    width: 680px;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
  }

  p {
    display: block;
    width: 680px;
    margin: 0 0 130px;
  }
}

.advantages__button {
  position: absolute;
  bottom: 158px;
  display: flex;
  align-items: center;
  padding: 18px 70px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  background: $bg-alt;
}