.advertising {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 600px;
  margin: 0 91px;
  padding-bottom: 72px;
  text-align: center;
  background: $bg-light;

  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
  }

  p {
    margin: 32px 0 0 0;
    font-size: 24px;
    line-height: 32px;
  }
}

.advertising__wrapper {
  max-width: 565px;
}
