.popular {
  margin: 116px 261px 164px 262px;
}

.popular__list {
  position: relative;
  min-height: 320px;
  margin-left: 359px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -359px;
    width: 320px;
    height: 320px;
    background-image: image-set("/img/card@1x.jpg" 1x, "/img/card@2x.jpg" 2x, "/img/card@1x.webp" 1x, "/img/card@2x.webp" 2x);
    background-repeat: no-repeat;
    background-size: 320px 320px;
  }

  &:nth-child(3) {
    top: 7px;
  }
}

.popular__item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 96px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular__image {
  position: relative;
  top: 5px;
  display: block;
  width: 320px;
  height: 320px;
  background: $bg-light;
}

.popular__button {
  position: absolute;
  bottom: -4px;
  padding: 15px 36px 16px 35px;
  border: none;
  border-radius: 100px;
  background: $bg-dark;
  color: $base-light;
  cursor: pointer;
}

.popular__title {
  display: block;
  width: 1000px;
  margin: 0;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.popular__text {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $base-alt;
}

.popular__table {
  display: flex;
  flex-direction: column;
}

.popular__table-wrapper {
  display: flex;
}

.popular__price {
  display: flex;
  width: 240px;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: $base-dark;

  &:nth-child(1) {
    margin-right: 50px;
  }

  &:nth-child(2) {
    margin-right: 11px;
  }
}

.popular__marketplace {
  width: 241px;
  height: 24px;

  &:nth-child(1) {
    margin-right: 50px;
  }

  &:nth-child(2) {
    margin-right: 11px;
  }
}

.popular__logo {
  position: relative;
  width: 240px;
  height: 64px;

  &:nth-child(1) {
    margin-right: 50px;
  }

  &:nth-child(2) {
    margin-right: 11px;
  }
}

.popular__logo--ozon {
  &::after {
    position: absolute;
    content: "";
    top: 21px;
    left: 0;
    width: 80px;
    height: 18px;
    background-image: image-set("/img/ozon@1x.png" 1x, "/img/ozon@2x.png" 2x, "/img/ozon@1x.webp" 1x, "/img/ozon@2x.webp" 2x);
    background-repeat: no-repeat;
  }
}

.popular__logo--delivery {
  &::after {
    position: absolute;
    content: "";
    left: 76px;
    top: 19px;
    width: 10px;
    height: 24px;
    mask-image: url("/__spritemap#sprite-popup-view");
    mask-repeat: no-repeat;
    mask-size: 9px 24px;
    background-color: $base-dark;
    cursor: pointer;
  }
  
  &::before {
    position: absolute;
    content: "";
    top: 14px;
    left: 0;
    width: 41px;
    height: 35px;
    background-image: image-set("/img/delivery@1x.png" 1x, "/img/delivery@2x.png" 2x, "/img/delivery@1x.webp" 1x, "/img/delivery@2x.webp" 2x);
    background-repeat: no-repeat;
    background-size: 41px 35px;
  }
}

.popular__logo--china {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 16px;
    left: -4px;
    width: 118px;
    height: 28px;
    background-image: image-set("/img/china@1x.png" 1x, "/img/china@2x.png" 2x, "/img/china@1x.webp" 1x, "/img/china@2x.webp" 2x);
    background-repeat: no-repeat;
  }
}

.popular__banner {
  display: flex;
  justify-content: flex-end;
  width: 1359px;
  margin: 72px 0 57px;
  background: $bg-light;

  p {
    width: 798px;
    margin: 0;
    padding: 56px 96px 80px 0;
    font-size: 22px;
    line-height: 26.4px;
  }
}